/* ===============
    global styles 
   =============== */

:root {
    --mt-new-green: #00AC32;
    --light-grey: #F1F1F1;
    --mt-font-color: #333;
    --dark-grey: #222;
}

body {
    margin-top: 2rem;
    background-color: var(--light-grey);
    line-height: 1.5;
    text-decoration: none;
    color: var(--mt-font-color);
}

/* ===============
    layout 
   =============== */

.page {
    display: grid;
    grid-template-columns: 1fr 1fr;   
}

.column1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.column2 {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

/* ===============
    typography 
   =============== */

h1, h2 {
    font-family: 'Poppins', sans-serif;
}

h1 {
    margin-left: 5px;
    font-size: 30px;
}

h2 {
    font-size: 22px;
}

/* ===============
    components 
   =============== */

/* header */

.headerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    color: white;
    background-color: var(--dark-grey);
    padding: 16px 19px 12px 20px;
    font-size: 1.25rem;
    margin: 40px auto 70px;
    border: none;
    cursor: pointer;
    box-shadow: 3px 3px 0 0 var(--mt-new-green);
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    line-height: 1.5;
}

button:hover {
    background-color: black;
}

/* grid */

.gridContainer {
    width: 400px;
    height: 400px;
}

.gridSquare {
    width: 130px;
    height: 130px;
    line-height: 130px;
    outline: black thin solid;
    float: left;
    font-size: 70px;
    text-align: center;
    background-color: white;
}

/* card */

.imgHolder {
    margin-right: 30px;
    border: black 1px solid;
}

.row {
    display: flex;
}

.row1, .row2, .row3 {
    width: 130px;
    height: 130px;
    opacity: 0.5;
    background-size: cover;
}
    
.row1 {
    background-image: url("./images/mable1.jpg");
}

.row2 {
    background-image: url("./images/mable2.jpg");
}

.row3 {
    background-image: url("./images/mable3.jpg");
}

.textarea {
    resize: none;
    width: 448px;
    padding: 3px;
    margin-top: 20px;
    outline: black thin solid;
    border: none;
}